@font-face {
    font-family: 'vazir';
    src: url('../fonts/vazir.eot') format('eot'),
     url('../fonts/vazir.ttf') format('truetype'),
    url('../fonts/vazir.woff') format('woff'),
    url('../fonts/vazir.woff2') format('woff2');
}
*{
    font-family: "vazir";
}
body{
    text-align: center;
}
.answer1,
.answer2,
.answer3,
.answer4{
    font-family: 'Courier New', Courier, monospace;
    direction: ltr!important;
    display: initial-block;
}